{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block content %}
    <div id="content-main">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="module aligned">
                {% for field in form %}
                    <div class="form-row">
                        <div>
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                                <div class="help">{{ field.help_text|safe }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </fieldset>
            <div class="submit-row">
                <input type="submit" value="Import CSV" class="default" />
            </div>
        </form>
        
        <div style="margin-top: 20px;">
            <h2>CSV Format Instructions</h2>
            <p>The CSV file should have the following columns:</p>
            <ol>
                <li>Question Text</li>
                <li>Explanation</li>
                <li>Choice 1 (This will be the correct answer)</li>
                <li>Choice 2</li>
                <li>Choice 3</li>
                <li>Choice 4</li>
            </ol>
            <p><a href="{% url 'admin:download-sample-csv' %}">Download a sample CSV file</a></p>
        </div>
    </div>
{% endblock %}